<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="StudentA" class="com.javaLive.beans.Student">
		<property name="name" value="joe bloggs" />
	</bean>

	<bean id="roomConstructor" class="com.javaLive.beans.RoomConstructor">
		<constructor-arg value="101" />
		<constructor-arg ref="StudentA" />
	</bean>

	<bean id="roomSetter" class="com.javaLive.beans.RoomSetter">
		<property name="roomNumber" value="101" />
		<property name="allotedTo" ref="StudentA" />
	</bean>

</beans>